<li class="template-upload">
  <span class="name"><%= name %></span>
  <span class="size"><%= formatFileSize(size) %></span>
  <% if(errors.length != 0){ %>
    <span class="errors"><%= errors.join(', ') %></span>
  <% } else { %>
    <div class="progress" <%=plugin('progressbar')%>></div>
    <a class="start" href="#" ></a>
    <a class="cancel" href="#" <%= plugin('button',{text: false, icons: {primary: 'ui-icon-cancel'}}) %>></a>
  <% } %>
</li>